FEISHU_WEBHOOK_URL=
LASTHUNT_CATEGORY_URL=https://www.thelasthunt.com/c/all?brand_name=icebreaker%2CPatagonia&size_1=S%2CM%2CL&sort=discountDesc
LASTHUNT_MIN_DISCOUNT=50
LASTHUNT_STATE_FILE=data/state.json
LASTHUNT_SITE_DIR=site
LASTHUNT_LOG_FILE=logs/lasthunt_watcher.log
LASTHUNT_LOG_LEVEL=INFO
LASTHUNT_PAGES_URL=
